@model ZBotUser
@section hello
{
    Hello, @Model.Username
}

<div class="row">
    <div class="col col-md-8">
        <h2>Hi, @Model.Username!</h2>
        <p>Your email is: @Model.Email</p>
        <h2>Settings</h2>
        <h2>Commands</h2>
        <h2>Filters</h2>
    </div>
    <div class="col col-md-4">
        <iframe frameborder="1"
                scrolling="yes"
                id="@Model.Username"
                src="http://www.twitch.tv/embed/@Model.Username/chat"
                height="750"
                width="100%"></iframe>
    </div>
</div>

